<header>
  <h1><a href="/">Gamer Hut</a></h1>
  <nav>
    <h3>Add new</h3>
    <ul>
      <li><a href="/new/item">Item</a></li>
      <li><a href="/new/category">Category</a></li>
    </ul>
  </nav>
</header>