<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/metadata') %>
    <title>Gamer hut</title>
  </head>
  <body>

    <%- include('partials/header') %>

    <main>
      <h1>Error: <%=error%> </h1>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
