<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gamer hut</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

    <%- include('./partials/header') %>

    <main>
      <h1>Error: <%=error%> </h1>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
