<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/metadata') %>
    <title>Gamer hut</title>
    <style>
      footer {
        position: static;
      }
    </style>
  </head>
  <body class="container-fluid d-flex flex-column justify-content-between">

    <%- include('partials/header') %>

    <main class="container text-center">
      <div class="row mb-4">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Browse all items</h5>
              <p class="card-text">Show all currently available item from the database.</p>
              <a href="/item" class="btn btn-primary">All items</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Browse all categories</h5>
              <p class="card-text">Show all currently available categories from the database</p>
              <a href="/category" class="btn btn-primary">All categories</a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
